/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 使用 min-height 來確保頁面至少填滿整個視窗高度 */
    background-color: #b3ffff;
}

.main_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.student_button {
    margin: 10px;
    background: #0bd;
    color: #fff;
    cursor: pointer;
    border: 1px solid;
    border-radius: 20px;
}

.student_button:hover {
    background: #80bfff;
}

.student_button > img {
    border-radius: 20px;
    margin: 10px;
}

h1 {
    text-align: center;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: auto; 
    padding: 10px; 
    width: 100%; 
    position: fixed; 
    bottom: 0; 
    z-index: 1; 
}
