.main_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.student_button {
    margin: 10px;
    background: #0bd;
    color: #fff;
    cursor: pointer;
    border: 1px solid;
    border-radius: 20px;
}

.student_button:hover {
    background: #80bfff;
}

.student_button > img {
    border-radius: 20px;
    margin: 10px;
}

h1 {
    text-align: center;
    cursor: pointer;
}